* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    margin: 50px;
}

td {
    padding: 10px;
}

td:nth-child(3) {
    border-left: 4px solid #c0c0c0;
}

td:nth-child(2) {
    border-left: 4px solid #c0c0c0;
}

td:first-child {
    border-left: 4px solid #cc181b;
}

td:first-child:not(.first) {
    border-left: 4px solid #449d45;
}

/*   */