table {
    margin: 40% auto;
    width: 250px;
    height: 200px;   
}

td:first-child {
    border-left: 4px solid #cc181b;
}

tr:nth-last-child(odd) td:first-child {
    border-left: 4px solid  #449d45;
}

td:not(:first-child) {
    border-left: 4px solid #c0c0c0;
} 