table {
    margin: 10% auto;     
}

tr {
    width: 60px;
    height: 30px;    
}

td {
    width: 100px;
    height: 35px;    
}

/* tried to make the first column border red and green by using `:first-child`, `:last-child`, `:nth-child` and `:not` but didn't work out. */

.green {
    border-left: 5px solid green;   
    padding: 5px;
}

.red {
    border-left: 5px solid red;  
    padding: 5px; 
}

td:nth-of-type(2) {
    border-left: 5px solid grey;
    padding: 5px;
}

td:nth-of-type(3) {
    border-left: 5px solid grey;
    padding: 5px;
}


/* 
.items:nth-of-type(even) {
    background-color: rgb(109, 226, 134);
} */

