table {
    margin:10% ;
}

tr:nth-child(odd) td:first-child {
    border-left: 5px solid #cc181b;
}
tr:nth-last-child(odd) td:first-child {
    border-left: 5px solid #449d45;
}

td {
    padding: 10px;
}
td:not(:first-child) {
    border-left: 5px solid #c0c0c0;
}